body {
	font-family: 'Yantramanav', sans-serif;
	letter-spacing: 1px;
	text-align: right;
	background-color: black;
	text-transform: uppercase;

}
.content {
	padding: 30px 0;
	margin: 0 auto;
	max-width: 1000px;
	background-color: #f2cc3b;
}

section {
 width: 80%;
 margin: 0 auto;
}

h3 {
	font-size: 9px;
	font-weight: 300;
}

.bold-name {
	font-size: 18px;
}

h1 {
	margin-top: 80px;
	font-size: 30px;
	font-weight: 400;
}
.tiny-name {
	font-size: 22px;
}
.bigger-name {
	font-size: 38px;
}

h2 {
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 2px;
}
img {
	width: 100%;
}
 p {
 	margin: 0 0 0 auto;
 	font-size: 6px;
 	width: 60%;
 }
 h4 {
 	font-size: 14px;
 	font-weight: bold;
 }